<%= assigns[:title] %>

================================

<%= @inner_content %>

================================
Copyright <%= DateTime.utc_now.year %> Undi. All rights reserved.
Undi LLC
26955 Fritsch Bridge
54933-7180 San Fransisco
